body {

}
#movingReference{
    border:4px solid rgba(110, 134, 239, 0.90);
    width:150px;
    border-radius:80%/20%;
    background-color:rgba(190, 200, 245, 0.30);    
    /*background-color:rgba(0, 0, 0, 0.11);*/    

    position:fixed;
    left:1300px;
    top:600px;
}
#movingReference ul{
    font-family:Arial;
    list-style:none;
}